/* HEADER COMMON CSS */

header {
  /* background-color: lightgray; */
  width: 1476px;
  height: 98px;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

#logo {
  margin: 0 20px 0 20px;
  cursor: pointer;
}

ul {
  position: absolute;
  list-style: none;
  /* background-color: darkgray; */
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  outline: none;
  color: #000;
  font-weight: 400;
}

header #nav {
  /* background-color: lightgray; */
  width: 1342px;
  height: 59px;
  margin: 0 auto;
  display: flex;
}

#nav_left {
  width: 280px;
  height: 18px;
  margin-top: 22px;
}

#nav_left ul li {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  margin-left: 34px;
}

#searchbox_wrap {
  display: inline-block;
  margin-left: 40px;
  position: relative;
}

#searchbox_wrap img {
  position: absolute;
  left: 7px;
  top: 20px;
  width: 20px;
  height: 20px;
}

#searchbox_wrap #searchbox {
  width: 346px;
  height: 30px;
  margin-top: 12px;
  border: 2px solid #eb1400;
  border-radius: 20px;
  padding-left: 30px;
}

#searchbox_wrap #searchbox:focus {
  outline: none;
}

#nav_right {
  /* background-color: #a4a4a4; */
  height: 30px;
  margin-top: 22px;
  margin-left: 300px;
}

#nav_right ul {
  position: relative;
  top: 1px;
  display: flex;
}

#nav_right ul li {
  font-size: 14px;
  margin: 0 10px 0 0;
}

#nav_right ul li a {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 0.02em;
  color: #989898;
  width: 200px;
  margin: 0 20px 0 0;
}


/* FOOTER COMMON CSS */

footer {
  height: 200px;
}

#footer_logo {
  width: 957px;
  margin: 36px auto 14px auto;
  cursor: pointer;
}

#footer_desc {
  width: 957px;
  font-size: 12px;
  font-weight: 400;
  color: #a4a4a4;
  margin: 0 auto 64px auto;
}

/* 하단 재생 바 */
.playbar {
  width: 100vw;
  height: 79px;
  background-color: #191919;
  position: fixed;
  bottom: 0;
}

.playbar .playbar_song {
  display: flex;
  width: 500px;
  height: 79px;
}

.playbar_song .youtube_movie {
  width: 100px;
  height: 50px;
  background-color: #fff;
  margin: 15px 20px;
}

.playbar_song .playbar_song_wrap {
  width: 250px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.playbar_song .playbar_song_wrap .playbar_song_title {
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  font-size: 16px;
  margin-bottom: 8px;
}

.playbar_song .playbar_song_wrap .playbar_song_artist {
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  font-size: 13px;
}

.playbar_song #likebtn {
  position: absolute;
  right: 3%;
  width: 25px;
  height: 25px;
  margin-top: 30px;
  cursor: pointer;
}

.playbar #playbtn {
  position: absolute;
  top: 20%;
  left: 48%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}