.introduce {
  width: 100%;
}

.intro-btn {
  width: 180px;
  height: 180px;
  left: 20px;
  bottom: 30px;
  position: fixed;
  cursor: pointer;

  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: linear;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}