* {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 100%;
  overflow: hidden;
}

#content {
  letter-spacing: -0.05em;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  width: 1920px;
  margin: 0 auto;
  max-width: 100%;
}

#content-left {
  width: 50%;
}

#loginbox {
  width: 440px;
  margin: auto;
  /* float: left; */
  padding-top: 100px;
}

#logo {
  width: 92px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
}

#login_img {
  width: 50%;
}

#login_img img {
  width: 100%;
  max-width: 100%;
}

.id_span {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  margin: 70px auto 26px 20px;
}

.namemail_input {
  font-size: 17px;
  width: 390px;
  /* height: 55px; */
  border: none;
  display: flex;
  margin: 4px 20px;
  outline: none;
}

input::placeholder {
  color: lightgrey;
}

.idpw_box {
  width: 400px;
  height: 55px;
  color: lightgrey;
  border-radius: 10px;
  border: 1px solid lightgrey;
  display: flex;
  margin: 0 auto 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.idpw_box img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.idpw_input {
  font-size: 17px;
  width: 350px;
  /* height: 55px; */
  border: none;
  display: flex;
  margin: 4px;
  outline: none;
}

.login_btn {
  color: white;
  background-color: #eb1400;
  width: 350px;
  height: 52px;
  border-radius: 10px;
  border: #eb1400;
  display: inline-block;
  margin: 40px 25px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

footer {
  height: 100px;
}

#footer_logo {
  width: 957px;
  margin: 36px auto 14px auto;
  cursor: pointer;
}

#footer_desc {
  width: 957px;
  font-size: 12px;
  font-weight: 400;
  color: #a4a4a4;
  margin: 0 auto 64px auto;
}