* {
  font-family: 'Noto Sans KR', sans-serif;
}
.banner {

}

.banner img {
  display: block;
  margin: auto;
  width: 100%;
}

header {
  /* background-color: lightgray; */
  width: 1476px;
  height: 98px;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

#logo {
  margin: 0 20px 0 20px;
}

ul {
  position: absolute;
  list-style: none;
  /* background-color: darkgray; */
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  outline: none;
  color: #505050;
  font-weight: 700;
}

header #nav {
  /* background-color: lightgray; */
  width: 1342px;
  height: 59px;
  margin: 0 auto;
  display: flex;
}

#nav_left {
  width: 280px;
  height: 18px;
  margin-top: 22px;
}

#nav_left ul li {
  font-size: 16px;
  margin-left: 34px;
}

#searchbox_wrap {
  display: inline-block;
  margin-left: 40px;
  position: relative;
}

#searchbox_wrap img {
  position: absolute;
  left: 7px;
  top: 20px;
  width: 20px;
  height: 20px;
}

#searchbox_wrap #searchbox {
  width: 346px;
  height: 30px;
  margin-top: 12px;
  border: 2px solid #eb1400;
  border-radius: 20px;
  padding-left: 30px;
}


#nav_right {
  /* background-color: #a4a4a4; */
  height: 30px;
  margin-top: 22px;
  margin-left: 300px;
}

#nav_right ul {
  position: relative;
  top: 1px;
  display: flex;
}

#nav_right ul li {
  font-size: 14px;
  margin: 0 10px 0 0;
}

#nav_right ul li a {
  font-size: 14px;
  color: #989898;
  width: 200px;
  margin: 0 20px 0 0;
}

#wrap {
  /* background-color: antiquewhite; */
  width: 1126px;
  margin: 0 auto;
}

#chart {
  /* background-color: #ad8a8a; */
  width: 957px;
  height: 560px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}

#section_head {
  width: 957px;
  height: 42px;
  position: absolute;
  margin: 0 0 520px 0;
}

#section_head h1 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 14px;
  left: 12px;
}

#section_albumchart {
  /* background-color: darkkhaki; */
  width: 603px;
  height: 500px;
  margin: 30px auto 0 auto;
}

.albumchart_rowbody {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.albumchart-box {
  /* background-color: aquamarine; */
  width: 188px;
  height: 265px;
}

#albumchart_img {
  border-radius: 15px;
  background-size: cover;
  width: 187px; 
  height: 188px;
  margin-bottom: 7px;
}

/* 플레이 버튼 */
#albumchart_img img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 137px;
}

/* 플레이 버튼 hover */
#albumchart_img img:hover{

}

#albumchart_desc {
  text-align: left;
  line-height: 20px;
  /* margin-bottom: 30px; */
}

#albumchart_rank {
  font-size: 16px;
  font-weight: 600;
}

#albumchart_song {
  font-size: 16px;
  font-weight: 500;
}

#albumchart_artist {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #747474;
  padding: 3px 0 0 11px;
}

#section_rankchart {
  /* background-color: blanchedalmond; */
  margin: 20px auto 0 auto;
  width: 324px;
  height: 500px;
}

#rankchart-box {
  border: 2px solid #747474;
  border-radius: 15px;
  width: 320px;
  height: 412px;
  margin: 0 auto;
}

td {
  position: relative;
  text-align: center;
}

#rankchart-table {
  width: 320px;
  height: 412px;
}

#rankchart-row {
  width: 320px;
  height: 80px;
  border-top: 1px solid #747474;
}
#rankchart-row:first-child {
  width: 320px;
  height: 80px;
  /* border-top: none; */
}

#rankchart_img {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
}

#rankchart_img > img {
  vertical-align: middle;
}

#rankchart_rank {
  width: 28px;
  text-align: center;
}

#rankchart_desc {
  width: 195px;
  text-align: left;
  margin-left: 15px;
  position: relative;
  bottom: 7px;
}

#year-btn {
  /* background-color: aliceblue; */
  width: 324px;
  margin-bottom: 18px;
  text-align: center;
  align-items: center;
}

.btn {
  width: 72px;
  height: 32px;
  border: 2px solid #747474;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
  color: #747474;
  font-weight: bold;
  margin-right: 6px;
}

.btn:last-child {
  margin-right: 0;
}

.music_test_banner {
  background-color: #eb1400;
  width: 1126px;
  height: 135px;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 64px;
  display: flex;
  
  vertical-align: middle;
}

.music_test_banner .music_test_left {
  margin-left: 44px;
}

.music_test_banner .music_test_left .music_test_txt {
  color: #fff;
  font-size: 16px;
  height: 135px;
  display: table-cell;
  vertical-align: middle;
  letter-spacing: -0.02em;
  /* 행간 지정 수정 예정 */
  line-height: 28px;
}
.music_test_left .music_test_txt span {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}

.music_test_banner .music_test_right {
  margin-right: 44px;
  margin-left: auto;
}

.music_test_right .music_test_btn {
  background-color: #fff9db;
  width: 192px;
  height: 48px;
  border-radius: 10px;
  margin-top: 44px;

  cursor: pointer;

  color: #eb1400;
  font-weight: bold;
  font-size: 14px;

  text-align: center;
  line-height: 48px;
  vertical-align: middle;
}

#section_yearchart {
  /* background-color: #ad8a8a; */
  width: 957px;
  margin: 0 auto 64px auto;
}

#yearchart_title {
  margin-bottom: 20px;
}

#yearchart_title h1 {
  position: relative;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
}

#yearchart_body {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#yearchart_body .yearchart_btn {
  width: 176px;
  height: 176px;
  border-radius: 10px;
  line-height: 176px;
  vertical-align: middle;

  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
}

#yearchart_body .yearchart_btn:last-child {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
}

#section_playlist {
  background-color: #ad8a8a;
  width: 957px;
  height: 140px;
  margin: 0 auto 50px auto;
}

#section_pick {
  background-color: #ad8a8a;
  width: 957px;
  height: 600px;
  margin: 0 auto 45px auto;
}

#section_pick_title {
  margin-bottom: 35px;
}

#section_pick_title h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  top: 20px;
}

#pick_body {
  display: flex;
  justify-content: space-between;
}

#pick-box {
  background-color: aliceblue;
  width: 176px;
  height: 270px;
}

#pick_title {
  margin-top: 20px;
  font-size: 16px;
}

.bottom_banner {
  width: 957px;
  height: 175px;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 64px;
  background-image: url("../images/main_bn_02.png");
}

.bottom_banner .bottom_banner_btn {
  width: 159px;
  height: 40px;

  display: inline-block;
  background-color: #eb1400;
  border-radius: 10px;
  color: #fff;
  margin-left: 44px;
  margin-top: 110px;
  font-size: 14px;
  font-weight: bold;

  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  
  cursor: pointer;
}

#footer_logo {
  width: 957px;
  margin: 36px auto 14px auto;
}

#footer_desc {
  width: 957px;
  font-size: 12px;
  font-weight: 400;
  color: #a4a4a4;
  margin: 0 auto 64px auto;
}
