* {
  font-family: "Noto Sans KR", sans-serif;
}

.banner img {
  display: block;
  margin: auto;
  width: 100%;
}

.banner .close {
  position: absolute;
  top: 15px;
  right: 100px;
  display: flex;
  cursor: pointer;
}

.banner .close p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  letter-spacing: -0.05em;
}

.banner .close img {
  width: 15px;
  height: 15px;
  margin: 1.5px 0 0 15px;
}

/* 헤더 아래 부분 시작 */

#wrap {
  /* background-color: antiquewhite; */
  width: 1126px;
  margin: 0 auto;
}

#chart {
  /* background-color: #ad8a8a; */
  width: 957px;
  height: 560px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 64px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.05em;
}

#section_head {
  width: 957px;
  height: 42px;
  position: absolute;
  margin: 0 0 520px 0;
  display: flex;
}

#section_head h1 {
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  position: relative;
  top: 14px;
  left: 12px;
  cursor: pointer;
  letter-spacing: -0.01em;
}

#section_head span {
  position: relative;
  top: 19px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #eb1400;
  margin-left: 20px;
}

#year-btn_wrap {
  /* background-color: aliceblue; */
  width: 324px;
  margin-left: 465px;
  text-align: center;
  align-items: center;
}

#section_albumchart {
  /* background-color: darkkhaki; */
  width: 603px;
  height: 500px;
  margin: 40px auto 0 auto;
}

.albumchart_rowbody {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.albumchart-box {
  /* background-color: aquamarine; */
  width: 188px;
  height: 265px;
  cursor: pointer;
}

#albumchart_img {
  border-radius: 15px;
  background-size: cover;
  width: 187px;
  height: 188px;
  margin-bottom: 7px;
}

#albumchart_img img {
  width: 45px;
  height: 45px;
  margin-top: 5px;
  margin-left: 137px;
  transform: scale(1);
}

#albumchart_img img:hover {
  transition: 1s ease;
}

#albumchart_desc {
  text-align: left;
  line-height: 20px;
  font-family: "Noto Sans KR", sans-serif;
  /* margin-bottom: 30px; */
}

#albumchart_rank {
  font-size: 16px;
  font-weight: 600;
}

#albumchart_song {
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}

#albumchart_artist {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #747474;
  padding: 3px 0 0 13px;
  margin-left: 5px;
}

#section_rankchart {
  /* background-color: blanchedalmond; */
  margin: 0px auto;
  margin-top: 40px;
  width: 324px;
  height: 500px;
}

#rankchart-box {
  border: 1px solid #c0c0c0;
  border-radius: 15px;
  width: 320px;
  height: 500px;
  margin: 0 auto;
}

td {
  position: relative;
  text-align: center;
}

#rankchart-table {
  width: 320px;
  height: 455px;
  /* margin-top: 10px; */
}

#rankchart-row {
  width: 320px;
  height: 83px;
  border-top: 0.5px solid #747474;
  cursor: pointer;
}
#rankchart-row:first-child {
  width: 320px;
  height: 83px;
  border-top: none;
}

#rankchart_img {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
}

#rankchart_img > img {
  vertical-align: middle;
}

#rankchart_rank {
  width: 28px;
  text-align: center;
}

#rankchart_desc {
  width: 195px;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  margin-left: 15px;
  position: relative;
  bottom: 12px;
}

#rankchart_song {
  font-weight: 500;
}

#rankchart_artist {
  margin-top: 7px;
  color: #747474;
}

.btn {
  width: 72px;
  height: 30px;
  border: 1px solid #c0c0c0;
  border-radius: 20px;
  display: inline-block;
  font-size: 16px;
  color: #747474;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 6px;
  cursor: pointer;
}

.btn-active {
  background-color: #eb1400;
  border: 1px solid #eb1400;
  color: #fff;
}

.btn:last-child {
  margin-right: 0;
}

.music_test_banner {
  background-color: #eb1400;
  width: 1126px;
  height: 135px;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 64px;
  display: flex;
  vertical-align: middle;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.05em;
}

.music_test_banner .music_test_left {
  margin-left: 44px;
}

.music_test_banner .music_test_left .music_test_txt {
  color: #fff;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  height: 135px;
  display: table-cell;
  vertical-align: middle;
  letter-spacing: -0.02em;
  /* 행간 지정 수정 예정 */
  line-height: 28px;
}
.music_test_left .music_test_txt span {
  color: #fff;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: -0.02em;
}

.music_test_banner .music_test_right {
  margin-right: 44px;
  margin-left: auto;
}

.music_test_right .music_test_btn {
  background-color: #fff9db;
  width: 192px;
  height: 48px;
  border-radius: 10px;
  margin-top: 44px;

  cursor: pointer;

  color: #eb1400;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 14px;

  text-align: center;
  line-height: 48px;
  vertical-align: middle;
  transition: all 0.9s;
}

.music_test_right .music_test_btn:hover {
  box-shadow: 0 96px 0 0 rgba(0,0,0,0.25) inset,
              0 -96px 0 0 rgba(0,0,0,0.25) inset;
  color: #fff;
}

#section_yearchart {
  /* background-color: #ad8a8a; */
  width: 957px;
  margin: 0 auto 64px auto;
}

#yearchart_title {
  margin-bottom: 20px;
  display: flex;
}

#yearchart_title h1 {
  position: relative;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
  letter-spacing: -0.01em;
}

#yearchart_title span {
  position: relative;
  top: 16px;
  height: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #eb1400;
  margin-left: 7px;
}

#yearchart_body {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#yearchart_body .yearchart_btn {
  width: 176px;
  height: 176px;
  border-radius: 25px;
  line-height: 176px;
  vertical-align: middle;
  cursor: pointer;

  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
}

#yearchart_body .yearchart_btn:last-child {
  font-size: 20px;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
}

.section_playlist {
  width: 957px;
  height: 170px;
  margin: 50px auto;
  display: flex;
}

.section_playlist .playlist_left {
  flex: 0.5;
  text-align: center;
}

.section_playlist .playlist_left img {
  margin-top: 6px;
  cursor: pointer;
}

.section_playlist .playlist_right {
  flex: 0.5;
  text-align: center;
}

.section_playlist .playlist_right img {
  cursor: pointer;
}

#section_pick {
  /* background-color: #ad8a8a; */
  width: 957px;
  height: 680px;
  margin: 0 auto 45px auto;
}

#section_pick_title {
  margin-bottom: 35px;
}

#section_pick_title h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  top: 20px;
  letter-spacing: -0.01em;
}

#pick_body {
  display: flex;
  justify-content: space-between;
}

#pick-box {
  height: 330px;
}

#pick-box img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
}

#pick-box .pick-box-play {
  background-image: url('../images/palybn_icon.png');
  background-size: cover;
  width: 60px;
  height: 60px;
  position: relative;
  top: -70px;
  left: 235px;
  cursor: pointer;
}

@keyframes pulse {
  50%
  {
                  transform:scale(1.3);
  }
}

#pick-box .pick-box-play:hover {
  animation: pulse 1s;
}


#pick_title {
  margin-top: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

.bottom_banner {
  width: 957px;
  height: 175px;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 100px;
  margin-bottom: 70px;
  background-image: url("../images/main_bn_02.png");
}

.bottom_banner .bottom_banner_btn {
  width: 159px;
  height: 40px;

  display: inline-block;
  background-color: #eb1400;
  border-radius: 10px;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  margin-left: 44px;
  margin-top: 110px;
  font-size: 14px;
  font-weight: bold;

  text-align: center;
  line-height: 40px;
  vertical-align: middle;

  cursor: pointer;
}

footer {
  height: 200px;
}

#footer_logo {
  width: 957px;
  margin: 36px auto 14px auto;
  cursor: pointer;
}

#footer_desc {
  width: 957px;
  font-size: 12px;
  font-weight: 400;
  color: #a4a4a4;
  margin: 0 auto 64px auto;
}

/* 하단 재생 바 */
.playbar {
  width: 100vw;
  height: 79px;
  background-color: #191919;
  position: fixed;
  bottom: 0;
}

.playbar .playbar_song {
  display: flex;
  width: 500px;
  height: 79px;
}

.playbar_song .youtube_movie {
  width: 100px;
  height: 50px;
  background-color: #fff;
  margin: 15px 20px;
}

.playbar_song .playbar_song_wrap {
  width: 250px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.playbar_song .playbar_song_wrap .playbar_song_title {
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  font-size: 16px;
  margin-bottom: 8px;
}

.playbar_song .playbar_song_wrap .playbar_song_artist {
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  font-size: 13px;
}

.playbar_song #likebtn {
  position: absolute;
  right: 3%;
  width: 25px;
  height: 25px;
  margin-top: 25px;
  cursor: pointer;
}

.playbar #playbtn {
  position: absolute;
  top: 20%;
  left: 48%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}