* {
    font-family: "Noto Sans KR", sans-serif;
    max-width: 100%;
    overflow: hidden;
}

#content {
    letter-spacing: -0.05em;
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    width: 100vw;
    margin: 0 auto;
    max-width: 100%;
}

#content-left {
    width: 50%;
}

#loginbox {
    width: 420px;
    margin: auto;
    padding-top: 100px;
}

#logo {
    width: 150px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    margin-left: 43px;
}

#login_img {
  width: 50%;
}

#login_img img {
    width: 100%;
    max-width: 100%;
}

.id_span {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    margin: 53px auto 29px 52px;
}

.idpw_box {
    width: 350px;
    height: 60px;
    color: lightgrey;
    border-radius: 10px;
    border: 1px solid lightgrey;
    display: flex;
    margin: 0 auto 0 auto;
}

.idpw_box img {
    width: 45px;
    height: 40px;
    margin: auto 10px;
    padding-left: 5px;
}

.idpw_input {
    font-size: 13px;
    font-weight: 300;
    width: 350px;
    border: none;
    display: flex;
    margin-top: 4px;
    margin-right: 10px;
    outline: none;
}

input::placeholder {
    color: lightgrey;
}

.login_btn {
    color: white;
    background-color: #eb1400;
    width: 310px;
    height: 48px;
    border-radius: 10px;
    border: #eb1400;
    display: inline-block;
    margin: 40px 55px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

#test {
    background-color: #dfdfdf;
    width: 350px;
    height: 110px;
    border-radius: 10px;
    display: flex;
    margin: 5px auto
}

#banner_text {
    color: black;
    width: 250px;
    height: 50px;
    margin: auto auto auto 25px;
    display: inline-block;
}

#bannerTest-title {
    color: black;
    font-size: 19px;
    font-weight: 600;
    display: inline-block;
    padding-top: 8px;
}

#bannerTest-text {
    color: gray;
    font-size: 13px;
    display: inline-block;
    font-weight: 600;
}

.banner_btn {
    color: black;
    background-color: transparent;
    padding: 30px 30px 10px 10px;
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 115px;
    cursor: pointer;
}

.banner_btn input {
    padding-bottom: 20px;
}

footer {
    height: 100px;
}

#footer_logo {
    width: 957px;
    margin: 36px auto 14px auto;
    cursor: pointer;
}

#footer_desc {
    width: 957px;
    font-size: 12px;
    font-weight: 400;
    color: #a4a4a4;
    margin: 0 auto 64px auto;
}