<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="RE:TRO | 그때 그 시절, 당신의 음악"/>

    <title>RE:TRO | 그때 그 시절, 당신의 음악</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../static/js/mypage.js"></script>
    <script defer src="../static/js/common.js"></script>
    <script defer src="../static/js/search.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style-mypage.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/favicon.ico">

    <script>
        $(function () {
            $("#confirm").click(function () {
                modalClose();
            });
            $("#modal-open").click(function () {
                $("#popup").css('display', 'flex').hide().fadeIn();
            });
            $("#close").click(function () {
                modalClose();
            });

            function modalClose() {
                $("#popup").fadeOut();
            }
        });

        function openPopup() {
                $("#popup").show();
        }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

    <link rel="shortcut icon" href="../favicon.ico">

</head>
<body>
    <!-- popup -->
    <div class="container">
        <div class="popup-wrap" id="popup">
            <div class="note_img">
                <img src="../static/images/레트로캐릭터_노트_디자인_v5.png" alt="">
            </div>
            <div class="popup">
                <div class="popup-head">
                    <div>
                        <p class="head-title">정말...</p>
                        <p class="head-body">회원 탈퇴 하실 거예요?</p>
                    </div>
                </div>
                <div class="popup-body">
                    <div class="body-content">
                        <div class="body-titlebox">
                            <p>
                                회원을 탈퇴하시면 모든 정보가 삭제됩니다. <br>
                                레트로 정보 : 음악 성향 테스트, 좋아요 목록 등 <br>
                                개인정보 : 이름, 이메일, 아이디, 비밀번호
                            </p>
                        </div>
                    </div>
                </div>
                <div class="popup-foot">
                    <div class="popupfoot_btn">
                        <p class="foot_btn">
                            <span class="pop-btn close" id="close">그럼...고민 좀 더 해볼게</span>
                        </p>
                        <p>
                            <span class="pop-btn confirm" id="confirm" onclick="withdraw()">탈퇴하기</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popup -->
<header id="header">
    <div id="logo" onclick="location.href='/'">
        <img src="../static/images/reteo_logo.png" width="92px" height="30px"/>
    </div>
    <nav id="nav">
        <div id="nav_left">
            <ul>
                <!-- 성향테스트 -->
                <li><a href="/test_intro">음악성향테스트</a></li>
                <li><a href="/mypage">보관함</a></li>
            </ul>
        </div>
        <div id="searchbox_wrap">
            <img src="../static/images/search_icon.png" alt="">
            <input type="text" id="searchbox" placeholder="검색어를 입력하세요." onkeyup="search_main(this)">
        </div>
        <div id="nav_right">
        </div>
    </nav>
</header>
<div class="mypage_hello">
    <!-- 회원 이름 -->
    안녕하세요, <span class="user_name"></span> 님!
</div>
<div id="wrap">
    <div id="contents">
        <div id="mypage_left">
            <div id="left_box">
                <!-- 회원 이메일 -->
                <div id="user_info">
                    <span id="name" class="user_name">{{ session['name']}}</span>
                    <span id="user_id">{{ session['userID']}}</span>
                </div>
                <div id="user_email">{{ session['email']}}</div>
            </div>
            <div id="leaveLetro"><input type="button" id="leaveLetro_btn" value="회원탈퇴" onclick="openPopup();"></div>
        </div>

        <div id="mypage_right">
            <div class="music_test_banner">
                <div class="music_test_img">
                    <img src="../static/images/mypage_bn_test_ok.png" alt="">
                </div>
                <div class="music_test_left">
                    <div class="music_test_txt">
                        <span class="test_left_top test_text">나의 음악 성향 테스트 결과는?</span>
                        <span class="test_left_middle test_text"></span>
                        <span class="test_left_bottom test_text"></span>
                    </div>
                </div>
                <div class="music_test_right">
                    <!-- 성향테스트 추천노래 유튜브링크 -->
                    <div class="music_test_btn"></div>
                </div>
            </div>
            <div id="chart">
                <div id="chart-body">
                    <div id="year-btn" class="chart_text">
                        <!-- 연도별 노래 차트 -->
                        <input type="button" class="btn btn-active" value="1980"/>
                        <input type="button" class="btn" value="1990"/>
                        <input type="button" class="btn" value="2000"/>
                        <input type="button" class="btn" value="2010"/>
                    </div>
                    <h1 class="chart_text">MY 플레이리스트</h1>
                    <div id="section_rankchart">
                        <div id="rankchart-box">
                            <table id="rankchart-table" class="chart_text table_line">
                                <thead>
                                <tr>
                                    <th scope="col" class="info">곡</th>
                                    <th scope="col" class="song"></th>
                                    <th scope="col" class="artist">아티스트</th>
                                    <th scope="col" class="listen">듣기</th>
                                    <th scope="col" class="like">좋아요</th>
                                </tr>
                                </thead>
                                <tbody id="rankchart-row">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<hr size="1" color="#eeeeee">
<footer>
    <div id="footer_logo">
        <img src="../static/images/logo_footer.png"/>
    </div>
    <div id="footer_desc">
        Copyrights © 2022 - Coding Kingdom Team, All Rights Reserved.
    </div>
    <!-- 하단 재생 바 -->
    <div class="playbar">
      <div id="playbar_song" class="playbar_song">
      </div>
      <img src="../static/images/palybn_icon.png" alt="" id="playbtn" onclick="togglePause()" />
{#      <img id="playbar_btn" onclick="playing_control()" src="../static/images/palybn_icon.png" alt="" class="playbtn">#}
      <div id="playbar_control" , style="display:none">
        <td id="player_active" style="display:none">0</td>
      </div>
    </div>
</footer>
</body>

</html>