<!doctype html>
<html lang="ko">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="RE:TRO | 그때 그 시절, 당신의 음악" />

  <title>RE:TRO | 그때 그 시절, 당신의 음악</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="../static/js/login.js"></script>
  <script defer src="../static/js/common.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style-login.css">
  <link rel="shortcut icon" href="../static/images/favicon.ico">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../static/images/favicon.ico">

</head>

<body>
  <div id="wrap">
    <div id="content">
      <div id="content-left">
        <div id="loginbox">
          <div id="logo">
            <img src="../static/images/reteo_logo.png" width="120px" height="38px" />
          </div>
          <div>
            <span class="id_span">ID 로그인</span>
            <div class="idpw_box">
              <img src="../static/images/login_01.png" alt="">
              <input type="text" class="idpw_input" id='id' placeholder="아이디">
            </div>
            <br>
            <div class="idpw_box">
              <img src="../static/images/password_01.png" alt="">
              <input type="password" class="idpw_input" id='pw' placeholder="비밀번호">
            </div>
            <input type="button" class="login_btn" onclick="login()" value="로그인" />
            <div id="banner_test">
              <div id="test">
                <div id="banner_text">
                  <span id="bannerTest-text">아직도 레트로 아이디가 없으시다구요?</span><br>
                  <span id="bannerTest-title">5초만에 회원가입 하러가기</span>
                </div>
                <div id="banner_btn" onclick="location.href='/regist_page'">
                  <input type="button" class="banner_btn" value="&#9654;" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="login_img">
        <img class="banner_img" style="margin-bottom: 0px;" src="../static/images/login_bn_01.jpg" />
      </div>
    </div>
  </div>
</body>

</html>
