<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="RE:TRO | 그때 그 시절, 당신의 음악"/>

    <title>RE:TRO | 그때 그 시절, 당신의 음악</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../static/js/mypage.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style-mypage-popup.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <script>
        $(function () {
            $("#confirm").click(function () {
                modalClose(); //모달 닫기 함수 호출

                //컨펌 이벤트 처리
            });
            $("#modal-open").click(function () {
                $("#popup").css('display', 'flex').hide().fadeIn();
                //팝업을 flex속성으로 바꿔준 후 hide()로 숨기고 다시 fadeIn()으로 효과
            });
            $("#close").click(function () {
                modalClose(); //모달 닫기 함수 호출
            });

            function modalClose() {
                $("#popup").fadeOut(); //페이드아웃 효과
            }
        });
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

    <link rel="shortcut icon" href="../favicon.ico">

</head>
<body>
<div class="container">
    <div class="popup-wrap" id="popup">
        <!--  모달 박스-->
        <div class="popup">
            <div class="popup-head">
                 <!--  로고-->
                <span class="head-title">BYTHEM</span>
            </div>
            <div class="popup-body">
                <div class="body-content">
                    <div class="body-titlebox">
                        <h1>Confirm Modal</h1>
                    </div>
                    <div class="body-contentbox">
                        <p> 정말 레트로를 떠나시겠습니까? </p>
                    </div>
                </div>
            </div>
            <div class="popup-foot">
                <span class="pop-btn confirm" id="confirm">네</span>
                <span class="pop-btn close" id="close">아니요 떠나지 않을래요</span>
            </div>
        </div>
    </div>
</div>

</body>

</html>