<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="RE:TRO | 그때 그 시절, 당신의 음악" />

    <title>RE:TRO | 그때 그 시절, 당신의 음악</title>
    
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/introduce.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    
</head>

<body>
  <img src="../static/images/retro_id_01_01.png" alt="" class="introduce" />
  <img src="../static/images/retro_id_01_02.png" alt="" class="introduce" />
  <div class="intro-last introduce">
    <!-- <img src="../static/images/retro_id_01_03.png" alt="" class="introduce" /> -->
    <div class="intro-btn1">레트로 메인으로 바로가기</div>
    <div class="intro-btn2">레트로 회원가입 하러가기</div>
  </div>
  
</body>

</html>