<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="RE:TRO | 그때 그 시절, 당신의 음악"/>

    <title>RE:TRO | 그때 그 시절, 당신의 음악</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style-login.css">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

</head>
<body>
<div id="wrap">
    <div id="content">
        <div id="loginbox">
            <div id="logo">
                <img src="./reteo_logo.png" width="91px" height="26px"/>
            </div>
            <div>
                <span class="id_span">ID 로그인</span>
                <div class="idpw_box">
                    <input type="text" class="idpw_input" value="아이디">
                </div>
                <br>
                <div class="idpw_box">
                    <input type="text" class="idpw_input" value="비밀번호">
                </div>
                <input type="button" class="login_btn" value="로그인"/>
                <div id="banner_test">
                    <div id="test">
                        <div id="banner_text">
                            <span id="bannerTest-text">아직도 레트로 아이디가 없으시다구요?</span><br>
                            <span id="bannerTest-title">5초만에 회원가입 하러가기</span>
                        </div>
                        <div id="banner_btn">
                            <input type="button" class="banner_btn" value="&#9654;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="login_img">
            <img class="banner_img" style="margin-bottom: 0px;" src="login_bn_01.jpg"/>
        </div>
    </div>
</div>
<hr size="1" color="#eeeeee" style="margin-top: 0;">
<footer>
    <div id="footer_logo">
        <img src="./logo_footer.png"/>
    </div>
    <div id="footer_desc">
        Copyrights © 2022 - Coding Kingdom Team, All Rights Reserved.
    </div>
</footer>
</body>
</html>