<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="RE:TRO | 그때 그 시절, 당신의 음악" />

    <title>RE:TRO | 그때 그 시절, 당신의 음악</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../static/js/common.js"></script>
    <script defer src="../static/js/retrocollection.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style-retrocollection.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/favicon.ico">

</head>
<body>
  <header id="header">
    <div id="logo" onclick="location.href='/'">
      <img src="../static/images/reteo_logo.png" width="92px" height="30px" />
    </div>
    <nav id="nav">
      <div id="nav_left">
        <ul>
            <li><a href="/test_intro">음악성향테스트</a></li>
            <li><a href="/mypage">보관함</a></li>
        </ul>
      </div>
      <div id="searchbox_wrap">
        <img src="../static/images/search_icon.png" alt="">
        <input type="text" id="searchbox" placeholder="검색어를 입력하세요." onkeyup="search_main(this)">
      </div>
      <div id="nav_right">
      </div>
    </nav>
  </header>
  <!-- RE:TRO 모음집 -->
  <div id="retrocollect_wrap">
    <!--년도 선택-->
    <div id="yearcollect_wrap">
      <div id="collect_1980" value="1980" class="years-btn years-btn-active" onclick="retro_collection_loading('1980')">1980년대</div>
      <div id="collect_1990" value="1990" class="years-btn" onclick="retro_collection_loading('1990')">1990년대</div>
      <div id="collect_2000" value="2000" class="years-btn" onclick="retro_collection_loading('2000')">2000년대</div>
      <div id="collect_2010" value="2010" class="years-btn" onclick="retro_collection_loading('2010')">2010년대</div>
      <div id="collect_all" value="all" class="years-btn" onclick="retro_collection_loading('all')">전체 곡</div>
    </div>
    <!-- 년도별 버튼 10개 -->
    <div id="retrocollect-year-btn">
      <input type="button" class="year-btn year-btn-active" value="1980"/>
      <input type="button" class="year-btn" value="1981"/>
      <input type="button" class="year-btn" value="1982"/>
      <input type="button" class="year-btn" value="1983"/>
      <input type="button" class="year-btn" value="1984"/>
      <input type="button" class="year-btn" value="1985"/>
      <input type="button" class="year-btn" value="1986"/>
      <input type="button" class="year-btn" value="1987"/>
      <input type="button" class="year-btn" value="1988"/>
      <input type="button" class="year-btn" value="1989"/>
    </div>
    <!-- RE:TRO 모음집 타이틀-->
    <div id="retrocollect_head">
      <h1>RE:TRO 모음집</h1>
    </div>
    <!-- RE:TRO 모음집 목록 -->
    <div id="retrocollect_table">
      <table>
        <thead>
          <tr>
            <th class="retrocollect_col" width="450px">곡</th>
            <th class="retrocollect_col" width="806px">아티스트</th>
            <th width="60px">듣기</th>
            <th width="60px">좋아요</th>
          </tr>
        </thead>
        <tbody id="collection_body">
        </tbody>
      </table>
    </div>
  </div>
  <!-- FOOTER -->
  <hr size="1" color="#eeeeee">
  <footer>
    <div id="footer_logo" onclick="location.href='/'">
      <img src="../static/images/logo_footer.png"/>
    </div>
    <div id="footer_desc">
      Copyrights © 2022 - Coding Kingdom Team, All Rights Reserved.
    </div>
    <!-- 하단 재생 바 -->
    <div class="playbar">
      <div id="playbar_song" class="playbar_song">
      </div>
      <img src="../static/images/palybn_icon.png" alt="" id="playbtn" onclick="togglePause()" />
<!--      <img src="../static/images/like_icon.png" alt="" id="likebtn" onclick="toggleLike()">-->
{#      <img id="playbar_btn" onclick="playing_control()" src="../static/images/palybn_icon.png" alt="" class="playbtn">#}
      <div id="playbar_control" , style="display:none">
        <td id="player_active" style="display:none">0</td>
      </div>
    </div>
  </footer>
</body>

</html>
