<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="RE:TRO | 그때 그 시절, 당신의 음악" />

    <title>RE:TRO | 그때 그 시절, 당신의 음악</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../static/js/main.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script>
        $(document).ready(function () {
            loginStatus();
        });
        function loginStatus(){
            let userID = "{{ session['userID']}}"
            let loginText = ""
            let href_login_out = ""
            if (userID =="") {
                loginText = "로그인"
                href_login_out = "/login_page"
            }
            else{
                loginText = "로그아웃"
                href_login_out = "/logout"
            }
            let login_html = `<ul>
                                <li><a href="#">RE:TRO 소개</a></li>
                                <li><a href=${href_login_out}>${loginText}</a></li>
                                <li><a href='/regist_page'>회원가입</a></li>
                              </ul>`
            $('#nav_right').append(login_html)
        }
    </script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="../favicon.ico">
    
</head>
<body>
  <section class="banner" style="margin-bottom: 0px;">
    <img src="../static/images/intro_main.jpg"/>
    <div class="close">
      <p>오늘 하루 그만보기</p>
      <img src="../static/images/intro_close_bn.png" alt="close">
    </div>
  </section>
  <header id="header">
    <div id="logo" onclick="location.href='#'">
      <img src="../static/images/reteo_logo.png" width="91px" height="26px" />
    </div>
    <nav id="nav">
      <div id="nav_left">
        <ul>
          <li><a href="#">음악성향테스트</a></li>
          <li><a href="#">보관함</a></li>
        </ul>
      </div>
      <div id="searchbox_wrap">
        <img src="../static/images/search_icon.png" alt="">
        <input type="text" id="searchbox" placeholder="검색어를 입력하세요.">
      </div>
      <div id="nav_right">
      </div>
    </nav>
  </header>
  <div id="wrap">
      <section id="chart">
        <section id="section_head">
          <h1>RE:TRO 차트</h1>
          <span>NEW</span>
        </section>
        <section id="section_albumchart">
            <div class="albumchart_rowbody">
              <div class="albumchart-box" onclick="location.href='#'" style="cursor: pointer;">
                <div id="albumchart_img" style="background-image: url(https://cdn.music-flo.com/image/v2/album/065/520/07/04/407520065_62046e9b_s.jpg?1644457630716/dims/resize/500x500/quality/90);">
                  <img src="../static/images/palybn_icon_red.png" alt="">
                </div>
                <div id="albumchart_desc">
                  <span id="albumchart_rank">1</span>
                  <span id="albumchart_song">INVU</span>
                  <span id="albumchart_artist">태연</span>
                </div>
              </div>
              <div class="albumchart-box" onclick="location.href='#'" style="cursor: pointer;">
                <div id="albumchart_img" style="background-image: url(https://cdn.music-flo.com/image/v2/album/065/520/07/04/407520065_62046e9b_s.jpg?1644457630716/dims/resize/500x500/quality/90);">
                  <img src="../static/images/palybn_icon_red.png" alt="">
                </div>
                <div id="albumchart_desc">
                  <span id="albumchart_rank">1</span>
                  <span id="albumchart_song">INVU</span>
                  <span id="albumchart_artist">태연</span>
                </div>
              </div>
              <div class="albumchart-box" onclick="location.href='#'" style="cursor: pointer;">
                <div id="albumchart_img" style="background-image: url(https://cdn.music-flo.com/image/v2/album/065/520/07/04/407520065_62046e9b_s.jpg?1644457630716/dims/resize/500x500/quality/90);">
                  <img src="../static/images/palybn_icon_red.png" alt="">
                </div>
                <div id="albumchart_desc">
                  <span id="albumchart_rank">1</span>
                  <span id="albumchart_song">INVU</span>
                  <span id="albumchart_artist">태연</span>
                </div>
              </div>
            </div>
            <div class="albumchart_rowbody">
              <div class="albumchart-box" onclick="location.href='#'" style="cursor: pointer;">
                <div id="albumchart_img" style="background-image: url(https://cdn.music-flo.com/image/v2/album/065/520/07/04/407520065_62046e9b_s.jpg?1644457630716/dims/resize/500x500/quality/90);">
                  <img src="../static/images/palybn_icon_red.png" alt="">
                </div>
                <div id="albumchart_desc">
                  <span id="albumchart_rank">1</span>
                  <span id="albumchart_song">INVU</span>
                  <span id="albumchart_artist">태연</span>
                </div>
              </div>
              <div class="albumchart-box" onclick="location.href='#'" style="cursor: pointer;">
                <div id="albumchart_img" style="background-image: url(https://cdn.music-flo.com/image/v2/album/065/520/07/04/407520065_62046e9b_s.jpg?1644457630716/dims/resize/500x500/quality/90);">
                  <img src="../static/images/palybn_icon_red.png" alt="">
                </div>
                <div id="albumchart_desc">
                  <span id="albumchart_rank">1</span>
                  <span id="albumchart_song">INVU</span>
                  <span id="albumchart_artist">태연</span>
                </div>
              </div>
              <div class="albumchart-box" onclick="location.href='#'" style="cursor: pointer;">
                <div id="albumchart_img" style="background-image: url(https://cdn.music-flo.com/image/v2/album/065/520/07/04/407520065_62046e9b_s.jpg?1644457630716/dims/resize/500x500/quality/90);">
                  <img src="../static/images/palybn_icon_red.png" alt="">
                </div>
                <div id="albumchart_desc">
                  <span id="albumchart_rank">1</span>
                  <span id="albumchart_song">INVU</span>
                  <span id="albumchart_artist">태연</span>
                </div>
              </div>
            </div>
        </section>
        <section id="section_rankchart">
          <div id="year-btn">
            <input type="button" class="btn" value="1980" />
            <input type="button" class="btn" value="1990" />
            <input type="button" class="btn" value="2000" />
            <input type="button" class="btn" value="2010" />
          </div>
          <div id="rankchart-box">
            <table id="rankchart-table">
              <tr id="rankchart-row">
                <td>
                  <div id="rankchart_img">
                    <img src="https://cdn.music-flo.com/image/v2/album/065/520/07/04/407520065_62046e9b_s.jpg?1644457630716/dims/resize/500x500/quality/90" width="50px" height="50px" style="border-radius:10px"/> 
                  </div>
                </td>
                <td>
                  <div id="rankchart_rank">1</div>
                </td>
                <td>
                  <div id="rankchart_desc">
                    <div id="rankchart_song">INVU</div>
                    <div id="rankchart_artist">태연</div>
                  </div>
                </td>
              </tr>
              <tr id="rankchart-row">
                <td>
                  <div id="rankchart_img">
                    <img src="https://cdn.music-flo.com/image/v2/album/065/520/07/04/407520065_62046e9b_s.jpg?1644457630716/dims/resize/500x500/quality/90" width="50px" height="50px" style="border-radius:10px"/> 
                  </div>
                </td>
                <td>
                  <div id="rankchart_rank">1</div>
                </td>
                <td>
                  <div id="rankchart_desc">
                    <div id="rankchart_song">INVU</div>
                    <div id="rankchart_artist">태연</div>
                  </div>
                </td>
              </tr>
              <tr id="rankchart-row">
                <td>
                  <div id="rankchart_img">
                    <img src="https://cdn.music-flo.com/image/v2/album/065/520/07/04/407520065_62046e9b_s.jpg?1644457630716/dims/resize/500x500/quality/90" width="50px" height="50px" style="border-radius:10px"/> 
                  </div>
                </td>
                <td>
                  <div id="rankchart_rank">1</div>
                </td>
                <td>
                  <div id="rankchart_desc">
                    <div id="rankchart_song">INVU</div>
                    <div id="rankchart_artist">태연</div>
                  </div>
                </td>
              </tr>
              <tr id="rankchart-row">
                <td>
                  <div id="rankchart_img">
                    <img src="https://cdn.music-flo.com/image/v2/album/065/520/07/04/407520065_62046e9b_s.jpg?1644457630716/dims/resize/500x500/quality/90" width="50px" height="50px" style="border-radius:10px"/> 
                  </div>
                </td>
                <td>
                  <div id="rankchart_rank">1</div>
                </td>
                <td>
                  <div id="rankchart_desc">
                    <div id="rankchart_song">INVU</div>
                    <div id="rankchart_artist">태연</div>
                  </div>
                </td>
              </tr>
              <tr id="rankchart-row" style="border-bottom: none;">
                <td>
                  <div id="rankchart_img">
                    <img src="https://cdn.music-flo.com/image/v2/album/065/520/07/04/407520065_62046e9b_s.jpg?1644457630716/dims/resize/500x500/quality/90" width="50px" height="50px" style="border-radius:10px"/> 
                  </div>
                </td>
                <td>
                  <div id="rankchart_rank">1</div>
                </td>
                <td>
                  <div id="rankchart_desc">
                    <div id="rankchart_song">INVU</div>
                    <div id="rankchart_artist">태연</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </section>
      </div>
      <div class="music_test_banner">
        <div class="music_test_left">
          <div class="music_test_txt">
            <span>나만의 음악 성향을 알아보고, 추억을 들어보세요.</span><br>
            오직, RE:TRO에서만 경험 할 수 있는 나만의 음악 성향 검사
          </div>
        </div>
        <div class="music_test_right">
          <div class="music_test_btn">음악 성향 알아보기</div>
        </div>
      </div>
      <section id="section_yearchart">
        <div id="yearchart_title">
          <h1>RE:TRO 모음집</h1>
          <span>HOT</span>
        </div>
        <div id="yearchart_body">
          <div class="yearchart_btn" style="background-image: url(../static/images/retro_con1980.png);">1980</div>
          <div class="yearchart_btn" style="background-image: url(../static/images/retro_con1990.png);">1990</div>
          <div class="yearchart_btn" style="background-image: url(../static/images/retro_con2000.png);">2000</div>
          <div class="yearchart_btn" style="background-image: url(../static/images/retro_con2010.png);">2010</div>
          <div class="yearchart_btn" style="background-image: url(../static/images/retro_con_all.png);">전곡 모음집</div>
        </div>
      </section>
      <div class="section_playlist">
        <div class="playlist_left">
          <img src="../static/images/sub_bn_01.png" alt="leemoonsae">
        </div>
        <div class="playlist_right">
          <img src="../static/images/sub_bn_02.png" alt="leesunhee">
        </div>
      </div>
      <section id="section_pick">
        <div id="section_pick_title">
          <h1>개발자's Pick</h1>
        </div>
        <div id="pick_body">
          <div id="pick-box">
            <a href="#">
              <img src="https://cdn.music-flo.com/poc/p/image/channel/rep/20220225/22d67f1d58ce4801b544c69f9e211baa.png/dims/resize/500x500/quality/90" width="176px" height="176px" style="border-radius: 10px;"/>
            </a>
            <div id="pick_title">개발자 김광윤's Pick</div>
          </div>
          <div id="pick-box">
            <a href="#">
              <img src="https://cdn.music-flo.com/poc/p/image/channel/rep/20220225/22d67f1d58ce4801b544c69f9e211baa.png/dims/resize/500x500/quality/90" width="176px" height="176px" style="border-radius: 10px;"/>
            </a>
            <div id="pick_title">개발자 김동우's Pick</div>
          </div>
          <div id="pick-box">
            <a href="#">
              <img src="https://cdn.music-flo.com/poc/p/image/channel/rep/20220225/22d67f1d58ce4801b544c69f9e211baa.png/dims/resize/500x500/quality/90" width="176px" height="176px" style="border-radius: 10px;"/>
            </a>
            <div id="pick_title">개발자 김소정's Pick</div>
          </div>
        </div>
        <div id="pick_body">
          <div id="pick-box">
            <a href="#">
              <img src="https://cdn.music-flo.com/poc/p/image/channel/rep/20220225/22d67f1d58ce4801b544c69f9e211baa.png/dims/resize/500x500/quality/90" width="176px" height="176px" style="border-radius: 10px;"/>
            </a>
            <div id="pick_title">개발자 성다연's Pick</div>
          </div>
          <div id="pick-box">
            <a href="#">
              <img src="https://cdn.music-flo.com/poc/p/image/channel/rep/20220225/22d67f1d58ce4801b544c69f9e211baa.png/dims/resize/500x500/quality/90" width="176px" height="176px" style="border-radius: 10px;"/>
            </a>
            <div id="pick_title">개발자 임세민's Pick</div>
          </div>
          <div id="pick-box">
            <a href="#">
              <img src="https://cdn.music-flo.com/poc/p/image/channel/rep/20220225/22d67f1d58ce4801b544c69f9e211baa.png/dims/resize/500x500/quality/90" width="176px" height="176px" style="border-radius: 10px;"/>
            </a>
            <div id="pick_title">개발자 지수빈's Pick</div>
          </div>
        </div>
      </section>
      <div class="bottom_banner">
        <div class="bottom_banner_btn">선택하러 가기</div>
      </div>
  </div>
  <!-- FOOTER -->
  <hr size="1" color="#eeeeee">
  <footer>
    <div id="footer_logo">
      <img src="../static/images/logo_footer.png"/>
    </div>
    <div id="footer_desc">
      Copyrights © 2022 - Coding Kingdom Team, All Rights Reserved.
    </div>
  </footer>
</body>

</html>