<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="RE:TRO | 그때 그 시절, 당신의 음악" />

    <title>RE:TRO | 그때 그 시절, 당신의 음악</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/introduce.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
</head>

<body>
  <img src="../static/images/bn_main_back.png" class="intro-btn" onclick="location.href='/'" onmouseover="this.src='../static/images/bn_main_back_hover.png'" onmouseout="this.src='../static/images/bn_main_back.png'" />
  
  <img src="../static/images/retro_id_full.png" alt="" class="introduce" />
  
  
</body>

</html>