<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="RE:TRO | 그때 그 시절, 당신의 음악" />

    <title>RE:TRO | 그때 그 시절, 당신의 음악</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../static/js/main.js"></script>
    <script defer src="../static/js/common.js"></script>
    <script defer src="../static/js/search.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/favicon.ico">

</head>
<body>
  <section class="banner" style="margin-bottom: 0px;">
    <img src="../static/images/intro_main.jpg"/>
    <div class="close">
      <p>팝업 닫기</p>
      <img src="../static/images/intro_close_bn.png" alt="close">
    </div>
  </section>
  <header id="header">
    <div id="logo">
      <img src="../static/images/reteo_logo.png" width="92px" height="30px" />
    </div>
    <nav id="nav">
      <div id="nav_left">
        <ul>
          <li><a href="#">음악성향테스트</a></li>
          <li><a href="/">보관함</a></li>
        </ul>
      </div>
      <div id="searchbox_wrap">
        <img src="../static/images/search_icon.png" alt="">
        <input type="text" id="searchbox" placeholder="검색어를 입력하세요." onkeyup="enterkey()" />
      </div>
      <div id="nav_right">
      </div>
    </nav>
  </header>

  <div id="wrap">
      <section id="chart">
        <section id="section_head">
          <h1 onclick="location.href='/retrochart_page';">RE:TRO 차트</h1>
          <span>NEW</span>
          <!-- 1980-2010 버튼 4개 -->
          <div id="year-btn_wrap">
            <input type="button" class="btn btn-active" value="1980" />
            <input type="button" class="btn" value="1990" />
            <input type="button" class="btn" value="2000" />
            <input type="button" class="btn" value="2010" />
          </div>
        </section>
        <section id="section_albumchart">
            <div class="albumchart_rowbody">
            </div>
            <div class="albumchart_rowbody", id="albumchart-1">
            </div>
        </section>
        <section id="section_rankchart">
          <div id="rankchart-box">
            <table id="rankchart-table">
            </table>
          </div>
        </section>
      </div>
      <div class="music_test_banner">
        <div class="music_test_left">
          <div class="music_test_txt">
            <span>나만의 음악 성향을 알아보고, 추억을 들어보세요.</span><br>
            오직, RE:TRO에서만 경험 할 수 있는 나만의 음악 성향 검사
          </div>
        </div>
        <div class="music_test_right">
          <div class="music_test_btn">음악 성향 알아보기</div>
        </div>
      </div>
      <section id="section_yearchart">
        <div id="yearchart_title">
          <h1>RE:TRO 모음집</h1>
          <span>HOT</span>
        </div>
        <div id="yearchart_body">
          <div onclick="collection_year('1980');" class="yearchart_btn" style="background-image: url(../static/images/retro_con1980.png);">1980</div>
          <div onclick="collection_year('1990');" class="yearchart_btn" style="background-image: url(../static/images/retro_con1990.png);">1990</div>
          <div onclick="collection_year('2000');" class="yearchart_btn" style="background-image: url(../static/images/retro_con2000.png);">2000</div>
          <div onclick="collection_year('2010');" class="yearchart_btn" style="background-image: url(../static/images/retro_con2010.png);">2010</div>
          <div onclick="collection_year('all');" class="yearchart_btn" style="background-image: url(../static/images/retro_con_all.png);">전곡 모음집</div>
        </div>
      </section>
      <div class="section_playlist">
        <div class="playlist_left">
          <img src="../static/images/sub_bn_01.png" alt="leemoonsae">
        </div>
        <div class="playlist_right">
          <img src="../static/images/sub_bn_02.png" alt="leesunhee">
        </div>
      </div>
      <section id="section_pick">
        <div id="section_pick_title">
          <h1>개발자's Pick</h1>
        </div>
        <div id="pick_body">
          <div id="pick-box">
            <img src="../static/images/Editor_01.png" alt="" onclick="location.href='/'" />
            <div class="pick-box-play"></div>
          </div>
          <div id="pick-box">
            <img src="../static/images/Editor_02.png" alt="" onclick="location.href='/'" />
            <div class="pick-box-play"></div>
          </div>
          <div id="pick-box">
            <img src="../static/images/Editor_03.png" alt="" onclick="location.href='/'" />
            <div class="pick-box-play"></div>
          </div>
        </div>
        <div id="pick_body">
          <div id="pick-box">
            <img src="../static/images/Editor_04.png" alt="" onclick="location.href='/'" />
            <div class="pick-box-play"></div>
          </div>
          <div id="pick-box">
            <img src="../static/images/Editor_05.png" alt="" onclick="location.href='/'" />
            <div class="pick-box-play"></div>
          </div>
          <div id="pick-box">
            <img src="../static/images/Editor_06.png" alt="" onclick="location.href='/'" />
            <div class="pick-box-play"></div>
          </div>
        </div>
      </section>
      <div class="bottom_banner">
        <div class="bottom_banner_btn" onclick="button_banner_btn_click()">선택하러 가기</div>
      </div>
  </div>
  <!-- FOOTER -->
  <hr size="1" color="#eeeeee">
  <footer>
    <div id="footer_logo" onclick="location.href='/'">
      <img src="../static/images/logo_footer.png"/>
    </div>
    <div id="footer_desc">
      Copyrights © 2022 - Coding Kingdom Team, All Rights Reserved.
    </div>
    <!-- 하단 재생 바 -->
    <div class="playbar">
      <div id="playbar_song" class="playbar_song">
        <img src="../static/images/like_icon.png" alt="" id="likebtn" onclick="toggleLike()" />
      </div>
      <img src="../static/images/palybn_icon.png" alt="" id="playbtn" onclick="togglePause()" />
      <img id="playbar_btn" onclick="playing_control()" src="../static/images/palybn_icon.png" alt="" class="playbtn">
      <div id="playbar_control" , style="display:none">
        <td id="player_active" style="display:none">0</td>
      </div>
    </div>
  </footer>
</body>

</html>