<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="RE:TRO | 그때 그 시절, 당신의 음악"/>

    <title>RE:TRO | 그때 그 시절, 당신의 음악</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style-signup.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script>
            function regist() {
                let id = $('#id').val()
                let pw = $('#pw').val()
                let pwCheck = $('#pwCheck').val()
                let name = $('#name').val()
                let email = $('#email').val()

                $.ajax({
                    type: 'POST',
                    url: '/regist',
                    data: {'id':id, 'pw':pw, 'pwCheck':pwCheck,'name':name,'email':email},
                    success: function (response) {
                        let msg = response['msg']
                        if(msg == "회원가입 완료!"){
                            location.href='/login';
                            alert(msg);
                        }else {
                            alert(msg);
                        }
                        }
                });
            }
    </script>

</head>
<body>
<div id="wrap">
    <div id="content">
        <div id="loginbox">
            <div id="logo">
                <img src="../static/images/reteo_logo.png" width="91px" height="26px"/>
            </div>
            <div>
                <span class="id_span">회원가입</span>
                <div class="idpw_box">
                    <input type="text" class="namemail_input", id="name" value="이름">
                </div>
                <br>
                <div class="idpw_box">
                    <input type="text" class="namemail_input" id="email" value="이메일">
                </div>
                <br>
                <div class="idpw_box">
                    <input type="text" class="idpw_input" id="id" value="아이디">
                </div>
                <br>
                <div class="idpw_box">
                    <input type="text" class="idpw_input" id="pw" value="비밀번호">
                </div>
                <br>
                <div class="idpw_box">
                    <input type="text" class="idpw_input" id="pwCheck" value="비밀번호 재확인">
                </div>
                <input type="button" class="login_btn" onclick ="regist()" value="가입하기"/>
            </div>
        </div>
        <div id="login_img">
            <img class="banner_img" style="margin-bottom: 0px;" src="../static/images/login_bn_01.jpg"/>
        </div>
    </div>
</div>
<hr size="1" color="#eeeeee" style="margin-top: 0;">
<footer>
    <div id="footer_logo">
        <img src="../static/images/logo_footer.png"/>
    </div>
    <div id="footer_desc">
        Copyrights © 2022 - Coding Kingdom Team, All Rights Reserved.
    </div>
</footer>
</body>
</html>