<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
            function regist() {
                let id = $('#id').val()
                let pw = $('#pw').val()
                let pwCheck = $('#pwCheck').val()
                let name = $('#name').val()
                let birthday = $('#birthday').val()

                $.ajax({
                    type: 'POST',
                    url: '/regist',
                    data: {'id':id, 'pw':pw, 'pwCheck':pwCheck,'name':name,'birthday':birthday},
                    success: function (response) {
                        let msg = response['msg']
                        if(msg == "회원가입 완료!"){
                            location.href='/';
                            alert(msg);
                        }else {
                            alert(msg);
                        }
                        }
                });
            }
    </script>
</head>
<body>
        <p>ID(Email) : <input type="text" name="email" id = "id" /></p>
        <p>비밀번호 : <input type="password" name="pw" id = "pw" /></p>
        <p>비밀번호 확인 : <input type="password" name="pwCheck" id = "pwCheck" /></p>
        <p>이름 : <input type="text" name="name" id = "name" /></p>
        <p>생년월일 : <input type="text" name="birthday" id = "birthday" /></p>
        <p><button name="button" onclick="regist();">회원가입!</button></p>
</body>
</html>