<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="RE:TRO | 그때 그 시절, 당신의 음악" />

    <title>RE:TRO | 그때 그 시절, 당신의 음악</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../static/js/common.js"></script>
    <script defer src="../static/js/test.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style-test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
</head>
<body>
  <div class="test_wrap">
    <div id="test_logo" onclick="location.href='/'">
      <img oncli src="../static/images/reteo_logo.png" width="100px"/>
    </div>
    <div id="test_title">
      <h1>음악 성향 테스트</h1>
      <p>나의 성격 유형에 맞는 음악 성향은?</p>
    </div>
    <div id="test_body">
      <img src="../static/images/NOTE_IMG/retro_NOTE_2.png" width="250px" style="margin: 20px 0 0 15px;"/>
      <p>음악성향 테스트를 완료하면!</p>
      <p>유형에 맞는 음악도 같이 추천해 드릴게요!</p>
    </div>
    <div id="test-btn_wrap">
      <div id="test-btn" onclick="location.href='/test';">음악 성향 알아보기</div>
      <div id="share-btn" onclick="test_intro_copy()">공유하기</div>
        <textarea id="test_intro_link" style="display:none"></textarea>
    </div>
  </div>
</body>
</html>
