<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="RE:TRO | 그때 그 시절, 당신의 음악" />

    <title>RE:TRO | 그때 그 시절, 당신의 음악</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../static/js/common.js"></script>
    <script defer src="../static/js/test.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style-test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/favicon.ico">

    <script>
      document.addEventListener("DOMContentLoaded", function(){
        changeQnA(0);
      });
    </script>
</head>
<body>
  <div class="test_wrap">
    <div class="test_head">
      <div id="test_num">Q1</div>
      <div id="test_q">
      </div>
    </div>
    <div id="test_a_wrap">
      <div id="test_a" onclick="select('a')">
      </div>
      <div id="test_b" onclick="select('b')">
      </div>      
    </div>
    <div id="test_footer">
      <img src="../static/images/reteo_logo.png" width="70px"/>
    </div>
  </div>
</body>
</html>
